data/raw/*.fastq.gz
data/ref/*
!data/ref/sample_names.txt

temp

.snakemake

bmarks/*
!bmarks/README.md
logs/*
!logs/README.md

.Rproj.user

# Renv internals
exp/explore_GenomicRanges/renv/*

# Ignore old raw test counts data
exp/collate_counts/STAR_counts/*
exp/collate_counts/all_samples_genes_count.tsv

# Ignore checkpoints
exp/**/.ipynb_checkpoints

# Ignore data files
exp/**/genome.genes.*

# Test data
exp/explore_topGO/test_data
exp/explore_topGO/test_results/*

# Singularity container images
simgs/*.sif

# STAR-alignment raw files
exp/submit_star_alignments/cuttrim2_SF-2243-GB-1*
# Files related to pure pheatmap library exploration
exp/plot_gene_clustering/explore_pheatmap.*
exp/plot_gene_clustering/sportsref_download.*

# STAR-alignment log-files
exp/submit_star_alignments/star_*

# STAR-index
exp/submit_star_alignments/starIndex

# Uppmax conda environment
envs/collate_counts
envs/.conda_envs_dir_test

